//
//  .gitignore
//  BoardOutlook
//
//  Created by lu on 21/3/2025.
//

# User-specific Xcode data
*.xcuserstate
xcuserdata/

project.xcworkspace/

# Build and derived files
DerivedData/
build/

# Swift Package Manager
.swiftpm/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Misc
*.xcscmblueprint
*.xcdebugger
